<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
		<section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
	</configSections>
  <appSettings>
    <add key="PasswordSalt"  value="QxLUF1bgIAdeQX" />
    <add key="UseLosGear"  value="1" />
  </appSettings>
  <superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
  <servers>
		  <server name="Authentication Instance" serverType="Authentication.Server, Authentication" ip="Any" port="1500" maxConnectionNumber="15" mode="Tcp" startupOrder="0" clearIdleSession="true" idleSessionTimeOut="120" />
		  <server name="Game Instance" serverType="Game.Server, Game" ip="Any" port="1510" maxConnectionNumber="50" mode="Tcp" startupOrder="1" sendBufferSize="512000" receiveBufferSize="524288" maxRequestLength="524288" sendingQueueSize="50" clearIdleSession="true" idleSessionTimeOut="600" />
		  <server name="Chat Instance" serverType="Chat.Server, Chat" ip="Any" sendBufferSize="53248" receiveBufferSize="53248" sendingQueueSize="50" maxRequestLength="53248" port="900" maxConnectionNumber="50" mode="Udp" startupOrder="2" clearIdleSession="true" clearIdleSessionInterval="60" idleSessionTimeOut="120" />
		</servers>
	  </superSocket>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>